@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Lobster&family=Oswald:wght@200;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 767px){
    
    .header{
        padding: 10px;
        width: 100%;
    }
    
    .logo{
        font-family: 'Lobster', cursive;
        font-size: 20px;
        text-align: center;
    }

    .nav{
        margin-top: 20px;
        margin-bottom: 10px;
        width: 100%;
        justify-content: center;
    }

    .nav li{
        margin-left: 10px;
        margin-right: 10px;
    }

    .nav li a{
        text-decoration: none;
        color: #ffffff;
        background-color: #6C63FF;
        padding: 7px;
        padding-right: 10px;
        padding-left: 10px;
        font-family: 'Oswald', sans-serif;
        font-weight: lighter;
        border: 1px solid #6C63FF;
        transition: 0.3s;
    }

    .nav li .vesti{
        padding-left: 16px;
        padding-right: 16px;
    }

    .nav li :hover{
        background-color: transparent;
        color: #6C63FF;
    }

    .glavni{
        width: 100%;
        margin-bottom: 100px;
    }

    .slika{
        width: 300px;
        display: flex;
        margin: auto;
        margin-bottom: 80px;
    }

    .naslov{
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-size: 35px;
        margin-bottom: 20px;
    }

    .tekst{
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 170%;
    }

    .html-logo{
        width: 300px;
        display: block;
        margin: auto;
        padding: 50px;
        -webkit-box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        -moz-box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        margin-bottom: 100px;
    }

    .html-logo img{
        margin-bottom: 30px;
    }

    .html-tekst{
        text-align: center;
    }

    .html-logo ul{
        list-style: none;
    }

    .html-logo ul li{
        text-decoration: none;
    }

    .html-logo ul li a {
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        background-color: #6C63FF;
        margin-left: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        border: #6C63FF 1px solid;
        transition: 0.3s;
    }

    .html-logo ul li :hover{
        background-color: transparent;
        color: #6C63FF;
    }

    .css-logo{
        width: 300px;
        display: block;
        margin: auto;
        padding: 50px;
        -webkit-box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        -moz-box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        margin-bottom: 100px;
    }

    .css-logo img{
        margin-bottom: 30px;
    }

    .css-tekst{
        text-align: center;
    }

    .css-logo ul{
        list-style: none;
    }

    .css-logo ul li{
        text-decoration: none;
    }

    .css-logo ul li a {
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        background-color: #6C63FF;
        margin-left: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        border: #6C63FF 1px solid;
        transition: 0.3s;
    }

    .css-logo ul li :hover{
        background-color: transparent;
        color: #6C63FF;
    }

    .footer{
        background-color: #6C63FF;
        color: #ffffff;
        padding: 50px;
    }

    .gimnazija{
        font-size: 100%;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: lighter;
    }
}

@media only screen and (min-width: 767px){
    .header{
        padding: 20px;
    }

    .logo{
        font-family: 'Lobster', cursive;
        font-size: 25px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .nav{
        margin-top: 25px;
        position: absolute;
        right: 15px;
    }

    .nav li{
        margin-left: 10px;
        margin-right: 10px;
    }

    .nav li a{
        text-decoration: none;
        color: #ffffff;
        background-color: #6C63FF;
        padding: 7px;
        padding-right: 15px;
        padding-left: 15px;
        font-family: 'Oswald', sans-serif;
        font-weight: lighter;
        border: 1px solid #6C63FF;
        transition: 0.3s;
    }

    .nav li .vesti{
        padding-left: 21px;
        padding-right: 21px;
    }

    .nav li :hover{
        background-color: transparent;
        color: #6C63FF;
    }

    hr{
        color: #6C63FF;
    }

    .glavni{
        padding: 30px;
        margin-bottom: 100px;
    }

    .slika{
        width: 250px;
    }

    .naslov{
        margin-left: 30px;
        font-family: 'Oswald', sans-serif;
    }

    .tekst{
        width: 300px;
        margin-left: 30px;
        margin-right: 20px;
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 27px;
    }

    .html-logo{
        width: 300px;
        display: block;
        margin: auto;
        padding: 50px;
        -webkit-box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        -moz-box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        margin-bottom: 100px;
    }

    .html-logo img{
        margin-bottom: 30px;
    }

    .html-tekst{
        text-align: center;
    }

    .html-logo ul{
        list-style: none;
    }

    .html-logo ul li{
        text-decoration: none;
    }

    .html-logo ul li a {
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        background-color: #6C63FF;
        margin-left: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        border: #6C63FF 1px solid;
        transition: 0.3s;
    }

    .html-logo ul li :hover{
        background-color: transparent;
        color: #6C63FF;
    }

    .css-logo{
        width: 300px;
        display: block;
        margin: auto;
        padding: 50px;
        -webkit-box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        -moz-box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        margin-bottom: 100px;
    }

    .css-logo img{
        margin-bottom: 30px;
    }

    .css-tekst{
        text-align: center;
    }

    .css-logo ul{
        list-style: none;
    }

    .css-logo ul li{
        text-decoration: none;
    }

    .css-logo ul li a {
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        background-color: #6C63FF;
        margin-left: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        border: #6C63FF 1px solid;
        transition: 0.3s;
    }

    .css-logo ul li :hover{
        background-color: transparent;
        color: #6C63FF;
    }

    .footer{
        background-color: #6C63FF;
        color: #ffffff;
        padding: 50px;
    }

    .gimnazija{
        font-size: 50px;
        font-family: 'Oswald', sans-serif;
        text-align: left;
        font-weight: lighter;
    }
}

@media only screen and (min-width: 1024px){
    .header{
        padding: 20px;
    }

    .logo{
        font-family: 'Lobster', cursive;
        font-size: 2rem;
        margin-top: 20px;
        margin-left: 50px;
    }

    .nav{
        margin-top: 30px;
        position: absolute;
        right: 10px;
    }

    .nav li{
        margin-left: 20px;
        margin-right: 20px;
    }

    .nav li a{
        text-decoration: none;
        color: #ffffff;
        background-color: #6C63FF;
        padding: 7px;
        padding-right: 20px;
        padding-left: 20px;
        font-family: 'Oswald', sans-serif;
        font-weight: lighter;
        border: 1px solid #6C63FF;
        transition: 0.3s;
    }

    .nav li .vesti{
        padding-left: 26px;
        padding-right: 26px;
    }

    .nav li :hover{
        background-color: transparent;
        color: #6C63FF;
    }

    hr{
        color: #6C63FF;
    }

    .glavni{
        padding: 30px;
        margin-bottom: 100px;
    }

    .slika{
        width: 340px;
    }

    .naslov{
        margin-left: 50px;
        font-family: 'Oswald', sans-serif;
    }

    .tekst{
        width: 500px;
        margin-left: 50px;
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 27px;
        text-align: justify;
    }

    .html-logo{
        width: 300px;
        display: block;
        margin: auto;
        padding: 50px;
        -webkit-box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        -moz-box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        margin-bottom: 100px;
    }

    .html-logo img{
        margin-bottom: 30px;
    }

    .html-tekst{
        text-align: center;
    }

    .html-logo ul{
        list-style: none;
    }

    .html-logo ul li{
        text-decoration: none;
    }

    .html-logo ul li a {
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        background-color: #6C63FF;
        margin-left: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        border: #6C63FF 1px solid;
        transition: 0.3s;
    }

    .html-logo ul li :hover{
        background-color: transparent;
        color: #6C63FF;
    }

    .css-logo{
        width: 300px;
        display: block;
        margin: auto;
        padding: 50px;
        -webkit-box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        -moz-box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        margin-bottom: 100px;
    }

    .css-logo img{
        margin-bottom: 30px;
    }

    .css-tekst{
        text-align: center;
    }

    .css-logo ul{
        list-style: none;
    }

    .css-logo ul li{
        text-decoration: none;
    }

    .css-logo ul li a {
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        background-color: #6C63FF;
        margin-left: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        border: #6C63FF 1px solid;
        transition: 0.3s;
    }

    .css-logo ul li :hover{
        background-color: transparent;
        color: #6C63FF;
    }

    .footer{
        background-color: #6C63FF;
        color: #ffffff;
        padding: 50px;
    }

    .gimnazija{
        font-size: 50px;
        text-align: left;
        font-family: 'Oswald', sans-serif;
    }
}

@media only screen and (min-width: 1440px){
    .header{
        padding: 20px;
    }

    .logo{
        font-family: 'Lobster', cursive;
        font-size: 2rem;
        margin-top: 20px;
        margin-left: 50px;
    }

    .nav{
        margin-top: 30px;
        position: absolute;
        right: 100px;
    }

    .nav li{
        margin-left: 20px;
        margin-right: 20px;
    }

    .nav li a{
        text-decoration: none;
        color: #ffffff;
        background-color: #6C63FF;
        padding: 7px;
        padding-right: 20px;
        padding-left: 20px;
        font-family: 'Oswald', sans-serif;
        font-weight: lighter;
        border: 1px solid #6C63FF;
        transition: 0.3s;
    }

    .nav li .vesti{
        padding-left: 26px;
        padding-right: 26px;
    }

    .nav li :hover{
        background-color: transparent;
        color: #6C63FF;
    }

    hr{
        color: #6C63FF;
    }

    .glavni{
        padding: 30px;
        margin-bottom: 100px;
    }

    .slika{
        width: 600px;
    }

    .naslov{
        margin-left: 200px;
        margin-bottom: 20px;
        font-family: 'Oswald', sans-serif;
    }

    .tekst{
        width: 700px;
        margin-left: 200px;
        font-family: 'Darker Grotesque', sans-serif;
        font-size: 30px;
        text-align: justify;
    }

    .html-logo{
        width: 300px;
        display: block;
        margin: auto;
        padding: 50px;
        -webkit-box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        -moz-box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        margin-bottom: 100px;
    }

    .html-logo img{
        margin-bottom: 30px;
    }

    .html-tekst{
        text-align: center;
    }

    .html-logo ul{
        list-style: none;
    }

    .html-logo ul li{
        text-decoration: none;
    }

    .html-logo ul li a {
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        background-color: #6C63FF;
        margin-left: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        border: #6C63FF 1px solid;
        transition: 0.3s;
    }

    .html-logo ul li :hover{
        background-color: transparent;
        color: #6C63FF;
    }

    .css-logo{
        width: 300px;
        display: block;
        margin: auto;
        padding: 50px;
        -webkit-box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        -moz-box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        box-shadow: 1px 7px 10px 9px rgba(0,0,0,0.17);
        margin-bottom: 100px;
    }

    .css-logo img{
        margin-bottom: 30px;
    }

    .css-tekst{
        text-align: center;
    }

    .css-logo ul{
        list-style: none;
    }

    .css-logo ul li{
        text-decoration: none;
    }

    .css-logo ul li a {
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: #ffffff;
        background-color: #6C63FF;
        margin-left: 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        border: #6C63FF 1px solid;
        transition: 0.3s;
    }

    .css-logo ul li :hover{
        background-color: transparent;
        color: #6C63FF;
    }

    .footer{
        background-color: #6C63FF;
        color: #ffffff;
        padding: 50px;
    }

    .gimnazija{
        font-size: 50px;
        font-family: 'Oswald', sans-serif;
        text-align: left;
    }
}
